@import "tailwindcss";

:root {

  --background: oklch(1 0 0);
  --foreground: #171717;
  --border: oklch(0.92 0.004 286.32);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-edge: var(--edge);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: oklch(1 0 0);
    --foreground: #ededed;
  }
}

@utility screen-line-before {
  @apply relative before:absolute before:top-0 before:-left-[100vw] before:z-10 before:h-px before:w-[200vw] before:bg-edge;
}

@utility screen-line-after {
  @apply relative after:absolute after:bottom-0 after:-left-[100vw] after:z-10 after:h-px after:w-[200vw] after:bg-edge;
}

@utility screen-line-before-inner {
  @apply relative before:absolute before:top-0 before:left-0 before:z-10 before:h-px before:w-full before:bg-edge;
}

@utility screen-line-after-inner {
  @apply relative after:absolute after:bottom-0 after:left-0 after:z-10 after:h-px after:w-full after:bg-edge;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Dimitri';
  src: url('/dimitri.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.dimitri-font {
  font-family: 'Dimitri', sans-serif;
}





@font-face {
  font-family: 'Billing';
  src: url('/Billing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.billing-font {
  font-family: 'Billing', sans-serif;
}

.hero-bg {
  background-image: url('/assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
